body {
  margin: 0;
  background-image: url("background_pic.jpg");
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.landpage_main {
  /* background-image: url("background_pic.jpg"); */
  backface-visibility: 0.5;
  /* min-height: 800px; */

}
.header {
  display: flex;
  background-color: white;
  opacity: 0.8;
  
}

a {
  text-decoration: none;

  
}



.mydiv {
width: 50%;  
text-align: left;

vertical-align: top;


}

.myotherdiv{
  text-align: right;
  width: 50%;
  padding: 50px 20px ;
}

.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 30px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.login-css {
  position: relative;
  left: 300px;
  bottom : 350px;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
}

.patsign-css {
  position: relative;
  margin-top: 30px;
  background-color:white; /* Green */
  border: lightgray solid;
  color: black;
  padding: 50px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
  opacity: 0.96;
}

.sub-pat {
 margin-top: 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.sub-log {
  margin-top: 20px;
  margin-left: 170px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  left: 404px;
  bottom : 400px;
}

.res-css {
  position: relative;
  margin-top: 30px;
  background-color:white; /* Green */
  border: lightgray solid;
  color: black;
  padding: 50px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.96;
}

.sub-res {
  margin-top: 20px;
  margin-left: 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.input-sign{
  display: inline-block;
  align-items: center;
  margin-left: 100px;
}

.label-sign{
  position: absolute;
}

.label-pat {
  position: absolute;
}

.input-pat {
  display: inline-block;
  align-items: center;
  margin-left: 300px;
}

.conds-label {
  position: absolute;
  left: 150px;

}

.res-label {
  position: absolute;
}

.input-res{
  display: inline-block;
  align-items: center;
  margin-left: 150px;
}

.quals-label {
  position: absolute;
  left: 150px;

}

button {
  position: relative;
  background-color: white;
  color: black;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  right:200px;
}

.para {
  position: relative;
  
  background-color: white;
  opacity: 0.9;
  margin: 50px 380px;
}

.res-button{
  position: relative;
  left: 250px;
 
}

.pat-button {
  position: relative;
  right: 290px;
}

.res-label-css{
  position: absolute;
  left: 150px;
  font-size: 16px;
}

.qual-css{
  position: relative;
  left: 150px;
  
  
}

.quals-div{
  position: relative;
  left: 10px;
}

.conds-div {
  position: relative;
  left: 10px;
}
.pat-label-css{
  position: absolute;
  left: 100px;
  font-size: 16px;
}

.conds-css {
  position: relative;
  left: 100px;
}